k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
   homeDir = "/mnt/shared/MedGen/WES/WES_CNV/pipeline"

   launchDir = "${k8s.homeDir}/launch"
   projectDir = "${k8s.homeDir}/project"
   workDir = "${k8s.homeDir}/temp"
   useJobs = true
  // pullPolicy = 'IfNotPresent'
   pullPolicy = 'Always'
   storageMountPath = '/mnt'
  // pod = [ [volumeClaim: 'pvc-jans-elixir-share', mountPath: "/storage" ]]
   computeResourceType = 'Job'
}

params {
   outdir = "${k8s.launchDir}/HyperExomeControl"
   ref = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10.fa'
   refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
   covbed  = "${k8s.projectDir}/xsvato01/WES_CNV/cnvkit_utils/HyperExome_noChr.bed"
   }


executor {
   queueSize = 50
}

process {

   shell = ['/bin/bash', '-euo', 'pipefail']
   container = 'registry.gitlab.ics.muni.cz:443/450402/wes_cnv:2'
   scratch = true
   executor = 'k8s'
   cpus = 4
   memory = '16GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
   //errorStrategy = 'finish'
}

manifest {
  defaultBranch = 'main'
}
